.button {
    $block: &;

    cursor: pointer;
    display: inline-flex;
    border: none;
    border-radius: $border-radius;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    font-weight: $font-weight-extrabold;
    transition: $transition-link;
    padding: 22px 20px;

    @include mq(page) {
        padding: 26px 20px;
    }

    svg,
    span {
        transition: $transition-link;
    }

    &.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    & > .preloader {
        @include center('vertical');
        right: 20px;
    }

    &--style {
        &--black {
            background-color: $color-black;
            color: white;

            .no-touch &:hover {
                background-color: lighten($color-black, 10%);
            }
        }
        &--white {
            background-color: $color-white;
            color: black;
        }


    }


    &__inner {
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
    }
}
