.button {
    $block: &;

    cursor: pointer;
    display: inline-flex;
    border: none;
    border-radius: $border-radius;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    font-weight: $font-weight-extrabold;
    transition: $transition-link;
    padding: 22px 20px;

    @include mq(page) {
        padding: 26px 20px;
    }

    svg,
    span {
        transition: $transition-link;
    }

    &.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    & > .preloader {
        @include center('vertical');
        right: 20px;
    }

    &--style {
        &--grey {
            background-color: $color-grey-dark;
            color: $color-white;
            

            .no-touch &:hover {
                background-color: darken($color-grey-dark, 10%);
            }
        }
        &--black {
            background-color: $color-black;
            color: white;

            .no-touch &:hover {
                background-color: lighten($color-black, 10%);
            }
        }
        &--white {
            background-color: $color-white;
            color: black;

            // .no-touch &:hover {
            //     background-color: darken($color-white, 10%);
            // }
        }

        &--outline {
            background-color: transparent;
            color: $color-white;
            border: 1px solid #ffffff;
            backdrop-filter: blur(80px);

            .no-touch &:hover {
                background-color: darken(transparent, 10%);
            }
        }
    }

    &--size {
        &--x-small {
            width: toRem(100);
        }

        &--small {
            width: toRem(160);
        }

        &--medium {
            width: toRem(290);
        }

        &--big {
            width: toRem(400);
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
    }
}
