// Breakpoints
$mq-breakpoints: (
    mobile: 376px,
    mobile-landscape: 480px,
    tablet: 760px,
    tablet-landscape: 980px,
    desktop: 1280px,
    notebook: 1440px,
    laptop: 1650px,
    page: 1920px,
);