// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
* {
  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: none;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

// Global wrapper
// -----------------------------------------------------------------------------
.site-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

// Module / Block wrapper
// -----------------------------------------------------------------------------
.module {
  position: relative;
  overflow: hidden;
}

// Set up global SVG container
// -----------------------------------------------------------------------------
.svg {
  display: inline-block;

  svg {
    display: block;
  }
}
