html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    ::selection {
        color: blue; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
        color: blue; /* Gecko Browsers */
    }
}

// Default text styles
// -----------------------------------------------------------------------------
body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height;
    color: $color-black;

}

a {
    text-decoration: none;
    color: $color-black;
}

@mixin headline-styles {
    font-weight: $font-weight-light;
    text-transform: uppercase;
    margin: 0;
}

@mixin h1 {
    @include headline-styles;
    font-size: 64px;
    line-height: 1;
    letter-spacing: 0.25em;

    @include mq(tablet-landscape) {
        font-size: 80px;
    }

    @include mq(desktop) {
        font-size: 120px;
    }
}

@mixin h2 {
    @include headline-styles;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: -0.03em;

    @include mq($until: tablet) {
        font-size: 32px;
        line-height: 140%;
    }

    @include mq(tablet-landscape) {
        font-size: 60px;
    }
}

@mixin h3 {
    @include headline-styles;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.03em;
    @include mq(tablet-landscape) {
        font-size: 40px;
    }

    @include mq($until: tablet) {
        font-size: 32px;
        line-height: 140%;
    }
}

@mixin copy {
    line-height: 1;
    font-size: 16px;
    letter-spacing: 0.05em;
}

@mixin subline {
    @include copy;
}



.h1 {
    @include h1;
}

.h2 {
    @include h2;
}
.h3 {
    @include h3;
}

.copy {
    @include copy;
}

.subline {
    @include subline;
}
